* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.section-register-form {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./Images/mountain.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-register-form .container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    padding: 92px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-register-form .container h1 {
    color: #161515;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 42px;
}

.section-register-form .container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.section-register-form .container p {
    color: #161515;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    opacity: 90%;
    font-style: italic
  }

.section-register-form .container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.section-register-form .container form .forms-group {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-register-form .container form .forms-group label {
    display: block;
    margin-bottom: 10px;
    color: #161515;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.section-register-form .container form .forms-group .form-element {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 12px 16px;
    background-color: #161515;
    color: white;
    border-radius: 8px;
}

;.section-register-form .container form .register-account {
    width: 100%;
    max-width: 440px;
    text-align: center;
}

.section-register-form .container form .register-account input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #161515;
    transition: 0.4s;
    color: white;
    padding: 12px 170px;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
}

.section-register-form .container form .register-account input[type="submit"]:focus {
    box-shadow: 0px, 0px, 6px rgba(0, 0, 0, 0.2);
}

.section-register-form .container .login-hiperlink {
    font-size: small;
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.section-register-form .container .login-hiperlink a:link {
    text-decoration: none;
    color:  #161515
}

.section-register-form .container.login-hiperlink {
    margin-bottom: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .section-register-form .container {
        padding: 64px;
    }
}

@media (min-width: 1024px) {
    .section-register-form .container {
        padding: 128px;
    }
}

@media (min-width: 768px) {
    .section-register-form .container h1 {
        font-size: 64px;
    }
}