* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

.section-login-form {
min-height: 100vh;
padding-top: 100px;
padding-bottom: 100px;
background: radial-gradient(#1C1C1C, #363636);
}
